<!DOCTYPE html>
<html>
    <head>
        <title>Download Transcoded Video</title>
        <link rel="stylesheet" type="text/css" href= {{ url_for('static', filename='styles.css') }} />
        <link rel="stylesheet" href="{{ url_for('static', filename='links.css')}}">
    </head>
    <body>
        <header>
            <h1>Transcoding Job Completed</h1>
        </header>
        <main>
            <h1>The transcoding job is complete.</h1>
            <div class="auth-options">
                <button type="submit"><a href="{{ url_for('download', key=key) }}">Download</a></button>
                <button type="submit"><a href="/">Home</a></button>
            </div>
        </main>
    </body>
</html>
